@import "../../styles/variables.scss";
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

.nav {
	margin-top: 20px;
	margin-right: 100px;
	width: 10%;
	display: flex;
	height: 50px;

	&__div-buttons {
		width: 50%;
		height: 100%;
	}

	&___buttons {
		width: 100%;
		height: 100%;
		background-color: transparent;
		color: white;
		border: none;
		font-family: $font;
		font-size: 20px;
	}

	&__div-buttons:hover {
		border-bottom: 1px solid;
		transform: scale(1.3);
	}
}
